@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Inter:400");

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6; /* 26px */
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  user-select: text;
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

html {
  font-size: 100%; /* 16px */
}

h1 {
  font-size: 4.21rem; /* 67.36px */
  line-height: 1.2; /* ~81px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
  line-height: 1.3; /* ~66px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
  line-height: 1.4; /* ~53px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
  line-height: 1.5; /* ~43px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
  line-height: 1.6; /* ~34px */
}

small {
  user-select: text;
  font-size: 0.75rem; /* 12px */
  line-height: 1.8; /* ~22px */
}

:root {
  --text: #000000;
  --background: #ffffff;
  --primary: #1a1a1a;
  --secondary: #737373;
  --accent: #472c74;

  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* > *::selection {
  background: var(--primary);
  color: var(--background);
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  cursor: default;
  scrollbar-width: none; /* For Firefox */
  background-color: var(--background);
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

p {
  user-select: text;
}

/* LINKS */

a {
  text-decoration: none;
  color: var(--text);
}

.accent-link {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--text);
  transition: all 0.3s ease-in-out;
}

.accent-link:hover {
  cursor: pointer;
  color: var(--accent);
  text-decoration-thickness: 1px;
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.accent-link:active {
  color: var(--accent);
  transition: all 0.1s ease-in-out;
}

/* BUTTONS */

.btn {
  cursor: pointer;
  user-select: none;
  padding: 10px 30px;
  width: fit-content;
  height: fit-content;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: var(--secondary);
}

.primary-btn {
  background-color: var(--accent);
  color: var(--background);
  border: 2px solid var(--accent);
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
}

.secondary-btn {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: transparent;
  font-weight: 600;
  color: var(--accent);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  transition: all 0.3s ease-in-out;
}
.secondary-btn svg {
  fill: var(--accent);
  transform: translateX(-10px) translateY(2px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.secondary-btn:hover {
  text-underline-offset: 8px;
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.secondary-btn:hover > svg {
  transform: scale(1.1) translateX(0px) translateY(5px);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* COMPONENTS */

.debug {
  background-color: rgba(0, 0, 0, 0.3);
}

.no-scroll {
  overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  max-width: 1000px;
  margin: 0px auto;
}

.logo {
  outline: none;
  border: none;
  color: var(--text);
  display: flex;
  justify-content: left;
  align-items: center;
  font-style: italic;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  color: var(--accent);
  text-decoration-thickness: 2px;
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 30px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.mobile-nav {
  display: none;
}

.mobile-menu {
  color: var(--text);
  position: relative;
  z-index: 5;
  cursor: pointer;
  font-size: 25px;
  right: 0px;
}

.mobile-menu.active {
  color: var(--background);
}

.mobile-nav-container {
  height: 100vh;
  width: 80vw;
  background-color: var(--accent);
  position: fixed;
  top: 0;
  right: -90vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
}

.mobile-nav-container.active {
  right: 0;
  transition: all 0.3s ease-in-out;
}

.mobile-nav-container.active .close-menu {
  rotate: 0deg;
  transition: all 0.3s ease-in-out;
}

.mobile-nav-links {
  list-style: none;
  font-size: 30px;
  font-weight: bold;
}

.mobile-nav-item {
  color: var(--background);
  margin: 10px auto;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  max-width: 1000px;
  margin: 0px auto;
}

.socials {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.icon {
  font-size: 24px;
  color: var(--secondary);
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  color: var(--accent);
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

footer small {
  user-select: none;
  text-align: center;
}

.policies {
  margin: 20px auto;
  opacity: 0.6;
}

.policies a {
  text-decoration: none;
}

/* 404 */
#notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#notFound h5 {
  font-size: 10rem;
  margin-bottom: 2rem;
  filter: blur(10px) opacity(0.5);
}

#notFound p {
  margin-bottom: 1.5rem;
}

/* MAIN */

.section {
  height: 95vh;
  width: 90%;
  margin: 20px auto;
}

.legal {
  height: fit-content;
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  margin: 20px auto;
  gap: 10px;
}

.legal-heading {
  text-overflow: ellipsis;
  margin-top: 50px;
  margin-bottom: 20px;
}

.legal li {
  margin: 10px auto;
  width: 90%;
}

#Hero {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 0px 50px;
  position: relative;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

#Hero h2 {
  max-width: 700px;
  margin-bottom: 1.5rem;
}

#Hero p {
  max-width: 600px;
  margin-bottom: 2rem;
}

#Hero img {
  position: absolute;
  z-index: -1;
  filter: invert(1) opacity(0.05);
  /* bottom: -10%; */
  right: -5%;
  animation: rotate 70s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SCROLL */

.partners {
  /* cursor: none; */
  height: 100px;
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.partner {
  height: 100px;
  width: 200px;
  position: absolute;
  left: max(calc(200px * 5), 100%);
  animation-name: scrollLeft;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* filter: opacity(0.6); */
  filter: invert(45%) sepia(0%) saturate(0%) brightness(95%) contrast(90%);

  user-drag: none; /* Prevents drag in WebKit browsers */
  -webkit-user-drag: none; /* Safari/Chrome-specific */
  user-select: none; /* Prevents selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.partner1 {
  animation-delay: calc(50s / 5 * (5 - 1) * -1);
}
.partner2 {
  animation-delay: calc(50s / 5 * (5 - 2) * -1);
}
.partner3 {
  animation-delay: calc(50s / 5 * (5 - 3) * -1);
}
.partner4 {
  animation-delay: calc(50s / 5 * (5 - 4) * -1);
}
.partner5 {
  animation-delay: calc(50s / 5 * (5 - 5) * -1);
}

/* ABOUT */
#About {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  outline: none;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: left;
  color: white;
  min-width: calc(1200px / 3.25);
  max-width: calc(1200px / 3.25);
  height: 100%;
  aspect-ratio: 9 / 16;
  border-radius: 20px;
  padding: 50px;
  user-select: none;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  scroll-snap-align: center;

  transition: all 0.3s ease-in-out;
}

.about-container::after {
  content: "";
  position: absolute;
  z-index: -2;
  inset: 0;
  background-color: var(--accent);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.about-container__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 130%;
  height: auto;
  object-fit: cover;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 98%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 98%
  );

  user-drag: none; /* Prevents drag in WebKit browsers */
  -webkit-user-drag: none; /* Safari/Chrome-specific */
  user-select: none; /* Prevents selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  transition: all 0.3s ease-in-out;
}

.about-container_heading {
  color: white;
  text-transform: capitalize;
}

.about-container i {
  font-size: 25px;
  text-align: center;
  color: white;
  opacity: 0.5;
  position: absolute;
  bottom: 15px;
  right: 20px;
  transition: all 0.3s ease-in-out;
}

.about-container:hover {
  cursor: pointer;
  border: none;
  outline: none;
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.about-container:hover > i {
  transform: rotate(90deg);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.popup {
  opacity: 0;
  margin: 0px;
  padding: 50px;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  background-color: transparent;
  border: none;
  outline: none;
  scrollbar-width: none; /* For Firefox */
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out allow-discrete;
}

.popup::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.popup::backdrop {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out allow-discrete;
}

.popup[open] {
  opacity: 1;
  transition: all 0.3s ease-in-out allow-discrete;
}

.popup[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out allow-discrete;
}

@starting-style {
  .popup[open] {
    opacity: 0;
    transition: all 0.3s ease-in-out allow-discrete;
  }

  .popup[open]::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out allow-discrete;
  }
}

.popup-section {
  cursor: default;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  height: fit-content;
  background-color: var(--background);
  border: none;
  border-radius: 20px;
  outline: none;
  overflow: hidden;
  margin: 30px auto;
  padding: 50px;
  /* scroll-snap-align: center; */
  transition: all 0.3s ease-in-out;
}

.popup-section img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 5 / 4;
  border-radius: 20px;
  filter: grayscale(1);
  margin: 20px auto;
  box-shadow: var(--box-shadow);
}

.section__text {
  width: 100%;
  max-width: 60ch;
  margin: 20px auto;
}

.closeModal {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.closeModal i {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  color: var(--secondary);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.closeModal:hover > i {
  color: var(--primary);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.small__headline {
  text-align: center;
}

#howList {
  list-style: none;
}

#howList li {
  margin: 20px auto;
  font-weight: normal;
}

/* POPUP SECTION */
.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  padding: 0px;
  margin: auto;
  width: 100%;
  height: auto;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.quote {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.333rem; /* 21.28px */
  line-height: 1.6; /* ~34px */
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 60px auto;
}

.quote::before {
  position: absolute;
  right: 0px;
  bottom: -80px;
  content: ",,";
  opacity: 0.3;
  color: var(--accent);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10rem;
  font-weight: 900;
  rotate: 5deg;
}

.spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 5px;
}

.spacer::after {
  content: "";
  background-color: var(--accent);
  opacity: 0.2;
  width: 100%;
  height: 2px;
  border-radius: 50px;
}

/* FAQ's */
#FAQs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  height: fit-content;
  padding: 100px 0px 50px 0px;
  margin: auto;
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 700px;
  background-color: var(--background);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
}

.faq-container:hover {
  /* cursor: pointer; */
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.faq-question {
  cursor: pointer;
  display: flex;
  text-align: left;
  gap: 20px;
  font-size: 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.faq-question h5 {
  text-align: left;
}

.faq-icon {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: var(--primary);
  transition: all 0.5s ease-in-out;
}

.faq-answer {
  position: absolute;
  display: none;
  padding-top: 20px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out allow-discrete;
}

.faq-answer.activate {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 1;
  max-height: fit-content;
  gap: 10px;
  transition: all 0.3s ease-in-out allow-discrete;
}

@starting-style {
  .faq-container {
    max-height: fit-content;
    transition: all 0.3s ease-in-out;
  }
  .faq-answer {
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease-in-out allow-discrete;
  }
}

.faq-icon.activate {
  color: var(--secondary);
  opacity: 0.5;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}

.faq-icon.activate:hover {
  opacity: 1;
}

/* FORM APPLICATION */
#applyForm {
  /* background-color: var(--accent); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.user-forms {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 90%;
  max-width: 600px;
  padding: 50px;
  margin: 80px auto;
  border: none;
  border-radius: 20px;
  outline: none;
  user-select: none;
  box-shadow: var(--box-shadow);
}

.user-forms p {
  margin-bottom: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
}

.input-container label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--accent);
  user-select: none;
}

.input-container textarea {
  overflow: hidden;
  resize: vertical;
}

.input-container textarea::-webkit-scrollbar {
  display: none;
}

.input-field {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: fit-content;
  margin-bottom: 20px;
  font-size: 16px;
  text-overflow: ellipsis;
  padding: 10px 5px;
  font-family: "Inter", sans-serif;
  color: var(--accent);
  outline: none;
  border: none;
  user-select: text;
  border-bottom: 1px solid var(--secondary);
  transition: all 0.3s ease-in-out;
}

.input-field::placeholder {
  text-overflow: ellipsis;
  opacity: 0.5;
}

.input-field:focus-within {
  padding: 10px;
  border-bottom: 2px solid var(--accent);
  transition: all 0.3s ease-in-out;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--accent);
  font-family: "Inter", sans-serif;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  width: 100%;
}

.dropdown-options {
  display: none;
  position: absolute;
  z-index: 9;
  background-color: var(--background);
  font-family: "Inter", sans-serif;
  color: var(--accent);
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #ddd;
}

/* Show options when button is clicked */
.custom-dropdown:hover .dropdown-options {
  display: block;
}

.multiple_choice-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.multiple_choice {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--accent);
  padding: 10px 5px;
  width: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
}

.multiple_choice input {
  margin-right: 5px;
  accent-color: var(--accent);
}

.error-message {
  overflow: hidden;
  height: 0px;
  width: 100%;
  padding: 0px 10px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.3);
  text-align: left;
  color: red;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  opacity: 0;
  display: none;
  transition: all 0.3s ease-in-out allow-discrete;
}
.error-message.visible {
  opacity: 1;
  padding: 10px 10px;
  height: fit-content;
  display: block;
  transition: all 0.3s ease-in-out allow-discrete;
}

/* THANK YOU PAGE */
#thankYou {
  width: 90vw;
  max-width: 5200px;
  height: 100vh;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank-you__heading {
  width: 100%;
  font-size: 5rem;
  margin-bottom: 50px;
  line-height: 1.2;
  text-align: center;
}

.thank-you__para {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  text-align: justify;
  margin: 30px;
}

/* CONTACT FORM */
#contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
